<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>
    <link type="text/css" href="index.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.min.css">


  </head>

  <body class="bg-gradient">
    <div id="app">
      <div class="game-container">
        <div class="main-menu">
          <transition name="slide-fade">
            <button class="btn btn-jmek btn-lg" @click="resetScreen" v-show="screen !== 0">Menu</button>
            <h2 v-show="screen == 0">Welcome!</h2>

          </transition>
        </div>
        <div class="screen" v-show="screen === 0" :key="0">
          <button class="btn btn-jmek btn-lg" @click="skipScreen">New game</button>
        </div>
        <div class="screen" v-show="screen === 1" :key="1">
          <h2>Choose option</h2>
          <div class="columns">
            <div>
              <button class="btn btn-jmek btn-lg" @click="setGameType(true)">VS Computer</button>
            </div>
            <div>
              <button class="btn btn-jmek btn-lg" @click="setGameType(false)">VS Player</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="screen" v-show="screen === 2" :key="2">
          <h2>Player 1: Would you like to be X or O?</h2>
          <div class="columns">
            <div>
              <button class="btn btn-jmek btn-lg" @click="setPlayerSymbol('X')">X</button>
            </div>
            <div>
              <button class="btn btn-jmek btn-lg" @click="setPlayerSymbol('O')">O</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="screen condensed" v-show="screen === 3" :key="3">
          <div class="game-bar">
            <div class="columns">
              <div>
                <h4>Player One: {{playerOneScore}}</h4>
              </div>
              <div>
                <h4>{{playerTwoName}}: {{playerTwoScore}}</h4>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <table class="game-table">
            <tbody>
              <tr v-for="(row, i) in gameData">
                <td v-for="(cell, j) in row" :class="{'filled': cell !== ''}" @click="cellClick($event, i, j)" @mouseenter="cellHighlight"
                  @mouseleave="cellHighlight">{{cell}}</td>
              </tr>
            </tbody>
          </table>
          <div class="info-bar">
            <h4>{{turn === 'one' ? 'Player One' : playerTwoName}}'s turn</h4>
          </div>
        </div>
        <!-- </transition-group> -->
        <div class="overlay-message" v-if="isGameOver">
          <template v-if="lastResultIsWin">
            <p v-html="winnerMessage"></p>
          </template>
          <template v-else>
            <p>Draw! </p>
          </template>
          <button class="btn btn-jmek btn-lg" @click="startGame">Replay!</button>
        </div>
      </div>
    </div>

    <script src="vue.js"></script>
    <script src="index.js"></script>
  </body>

</html>
